
div[id="App"] {
    font-family: sans-serif;
    text-align: center;
    width: 1480px;
    height: 700px;
    background: url("FOOTBALL.jpg") center;


}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: black;
    border-bottom: 1px solid #ccc;
    height: 50px;
    width: 740px;;
    top: 0;
    left: 0;
    z-index: 100;

}
h1{
    color: white;
    font-size: 30px;
    font-family: 'Lucida Sans Unicode';
    text-align: center;
    margin: 0;
    padding: 0;
    width: 780px;
    height: 50px;
    background-color: black;
    border-bottom: 1px solid #ccc;
    top: 0;
    left: 0;
    z-index: 100;
}
table[class="Leagues"]{
    margin: 0 auto;
    border-spacing: 0px 0px;
    width: 740px;
    height: 50px;
    background-color: dimgrey;
    border-bottom: 1px solid #ccc;
    top: 0;
    left: 0;
    z-index: 100;


}
