

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



div[id="App"] {
  width: 1480px;
  height: 700px;
  background: url("FOOTBALL.jpg") center;


}
.nav {
  margin: 10px;
  width: 50px;
  height: 60px;
  align-items: center;
  background: black;
}
